@mixin flex{
    display: flex;
}

@mixin center{
    display: flex;
    justify-content: center;
}
@mixin text{
    color: white;
    text-decoration: none;
}
@mixin text-list{
    color: gray;
    text-decoration: none;
}